
/*.App {*/
/*text-align: center;*/

/*}*/
*{
    padding:0 0 0 0;
    margin:0 0 0 0 ;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 20001; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px; /* Place content 60px from the top */
    margin-top: 50px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the Sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}



/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: fixed;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the Sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.panel{
    background-color:#111111;
    color: #f1f1f1;

}
.pannel-title{
    padding-bottom:0px;
    background-color: darkgrey;
}
.panel-footer{
    background-color: #111111;

}
a.panel-body.dropdown-toggle{
    font-size: medium;


}
.number{
    padding-left:0px;
    padding-right:100px;
}
.no-padding{
    padding: 0 0 0 0;
}
.button1{
    float:left;

}


#page-numbers {
    list-style: none;
    display: flex;

}

#page-numbers > li {
    margin-right: 0.3em;

    color: blue;
    user-select: none;
    cursor: pointer;
}
#display_index > li {
    padding: 0 5px 0 5px;
}
.allign-left{
    text-align:left;
}
.allign-right{
    text-align: right;
}
.dropdown-menu{
    text-size:small;
}
.dropdown-menu-right{
    left:4em;
    float: right;
    font-size: small;
}
.dropdown-menu-right a {
    font-size: medium;
    background-color: lightgrey;
}
.panel-collapse{
    background-color: #1d1d1d;
}
.border{
    border-top: 2px solid #111111;

}

.padding-top-30{
    padding-top:80px;
    margin-top: 10px;
    padding-left: 15px;
}
div .col-md-3{
    width:450px;

}

.question{
    font-size:large;
}


.green{
    color:green;
}
.red{
    color:red;
}
.greenColor{
    color: green;
    margin:5px;
    padding:5px;
}
.redColor{
    color:red;
    margin:5px;
    padding:5px;
}
.ansColor{
    margin:5px;
    padding:5px;
}
.carousel {
    width:100%;
    height:100%;



}
a.navbar-brand{
    font-size:larger;

}
/*.navbar{*/
/*position: fixed;*/
/*width:100%;*/
/*height:50px;*/

/*}*/


.text{
    text-decoration-color: #f1f1f1;
}


.well.well-lg.exam{
    padding: 500px 0px 500px 0px;
}

p.renderQuestion{
    font-size:25px;
    font-weight: bold;

}
.answerr p{
    font-size: smaller;

    float-wrap: wrap;
}
.button .btn .btn-primary .prev{
    padding-left: 50px;
}

.styleButton{
    font-size:x-large;
    width:30px;
}
.styleCurrentButton{
    background-color: #798b1a;
    font-size: large;
}
.renderQuestion{
    padding-top:200px;

}



/*body{*/
/*background-image: url('aws.png');*/
/*background-repeat: no-repeat;*/
/*background-size: cover;*/

/*LOGIN FORM*/


/*Exam mode Sets*/
h2{
    float:left;
    scroll-padding-inline: 100px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}
div.answer{
    float:left;
}
button{
    padding-top: 20px;

}
.btn.btn-success{
    width:350px;
    height:100px;
}
.footer{
    float: left;
    text-align: center;
    width: 1000px;

    text-decoration-color: Green;
}






/*testmodule*/
.here{

    margin-top: 60px;
    margin-left:2px;
}


.image {
    text-align: center;
    margin-top: 50px;

}
.image p{

    font-weight: bolder;


}

button{
    width:30%;
}

.btn {
    font-size: larger;
}
.btn.btn-success {
    width: 350px;
    height: 150px;
    background-color: black;

}

.btn .btn-primary .jenita{
    padding-top: 30px;


}
.jenita .button .btn .btn-primary .jenita{
    width:auto;
}


div .jenita ul{
    padding-left:60px;
}




img{
    width:350px;
    height:200px;
}

.where{
    padding-top: 30px;


}
/*ExamDevops*/
.bottom-header{
    padding-top: 100px;
    padding-left: 10px;


}
.answer{
    text-align: left;
    font-size: smaller;


}
.questionhere {
    padding-top: 20px;



}
.renderque{
    margin-top: 20px;
    padding-top: 20px;
    text-align:30px;


}
.bg_color_white{
    margin-top: 20px;
    padding-top: 20px;

}
.bg_color_white .renderque{
    font-size: 30px;


}
.bg_color_grey .renderque {
    font-size: 30px;

}


div .container-fluid{
    background-color: black;
}
a.navbar-brand{
    color:black
}


/*login form*/
:root{
    --primaryred:#ff424f;
    --secondaryred:#f84735;
    --lightblack:#222b31;
    --darkblack:#191c1f;
    --mainfont:'Dancing Script', cursive;
    --secondfont: 'Lato', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family:var(--secondfont);
}
*,*:before,*:after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
.fullcontent{
    width:100%;
    min-height: 100vh;
    height: auto;
    padding:6% 10% 5% 10%;
    background-image: url(aws.png);

    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: row;

}
.firstheadings{
    /* background:red;  */
    flex-basis: 65%;
    margin-right: 5%;
    margin-top:10%;
    background:rgb(34,43,45,0.5);
    padding-left:20px;
    padding-bottom:20px;

}

.firstheadings h1{
    font-size: 4rem;
    font-family:var(--mainfont);
    color: #4246ff;
    font-weight: bold;
    font-style: italic;
    margin:3% 0% 3% 0%;

}
.firstheadings h2{
    font-size:1.2rem;
    font-weight: 300;
    color:whitesmoke;
    font-weight: bold;

}
.formbox{
    background:rgb(34,43,49,0.7);
    color:black;
    flex-basis: 35%;
    border-top: 10px solid var(--secondaryred);
    padding:2% 3%;
}
.formbox *{
    margin: 0;
}
.formbox h3{
    font-family: var(--mainfont);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.formbox form label{
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.3rem;
}
.formbox form .asd{
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: none;
    background: transparent;
    height: 2.8rem;
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.mainbox{
    margin: 0;
    width:100%;
    height:50px;
    background-color:red;

    color:white;

}
form .mainbox{

    box-shadow: none;
    background: red;
    height: 3.8rem;
    font-weight: bolder;
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
}
a .mainbox{
    margin: 0;
    padding: 5%;
    background-color: red;
    color:white;
    text-align: center;
}
.signin{
    margin-top:50px;
    background-color: grey;

}
.welcome{
    color:white;
}
.heading--primary{
    margin-top: 60px;
    font-weight: bolder;

}
.heading--primary h1{
    text-decoration-color: green;
}
.signcss{
    margin-left: 100px;
    margin-right: 200px;
    background-color: grey;

}
.form label{
    font-weight: bold;
    color:white;

}
a .mainbox{
    margin: 0;
    padding: 2%;
}
.loggin{
    color: white;
}

.form-control{
    background-color: white;
}
.signuphere{
    background-color:whitesmoke;
    color:green;
}
.down{
    background-color:grey;
    padding-bottom: 150px;
}
a:hover{
    font-weight: bolder;
}
/*testmodule*/
.box{
    background-color: black;
    text-align: white;
    height:200px;
    width:350px;
    margin-left: 20px;
    margin-right: 200px;
    margin-top:80px;
    margin-bottom: 100px;
    width: 400px;
    height:250px;
}
.black{
    background-image: url("aws2.png");
    background-size: auto 150px;
    background-repeat: no-repeat;
    font-weight: bolder;
    font-style: italic;
    color:white;
    background-color: black;
    text-align: right;
    text-decoration-color: whitesmoke;


}
.black:hover{
    background-position: 0 0;
    box-shadow: 5px 5px 10px ;
    color: white;
}
.boxx{
    background-image: url("exam2.png");
    background-position:auto 150px;
    background-repeat: no-repeat;
    font-weight: bolder;
    text-align: right;
    margin-left: 20px;
    margin-right: 200px;
    margin-bottom: 43px;
    height:180px;
    width:350px;
    background-color: black;
    color:white;

}
.boxx:hover{
    background-position: 0 0;
    color: white;
    background-color: black;
    box-shadow: 0px 8px 15px #333333;
}


.that{
    min-height: 40rem;

    width:100%;

    background-color: darkgrey;

}
.heading-text{
    margin-top: 58px;
    text-align: center;
    padding-top: 20px;
    background-color: #666666;
    padding-bottom: 10px;
    color: white;

}
/*exammode*/
.heading-test{
    margin-top: 58px;
    text-align: center;
    padding-top: 20px;
    background-color: #666666;
    padding-bottom: 10px;
    color: white;

}
.mar-to-13{
    color:red;
    margin-top:13px;
}

.formbox-pwd{
    display:block;
    margin:0 auto;
}
.cursor{
    cursor:pointer;
}
.topic{
    color: whitesmoke;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;

}

.first{
    background-color: #11;
    margin-right: 200px;
    margin-left: 250px;
}